<link href="/assets/product_style.css" rel="stylesheet" type="text/css" media="all" />
<div class="bodywrap">
  <%- include("../../components/bread-crumb") %>

  <section class="product layout-product" itemscope itemtype="https://schema.org/Product">
    <div class="container">
      <div class="details-product">
        <div class="row">
          <div class="product-detail-left product-images col-12 col-md-12 col-lg-6">
            <div class="product-image-block relative">
              <div class="swiper-container gallery-top">
                <div class="swiper-wrapper" id="lightgallery">
                  <a class="swiper-slide" data-hash="0" href="<%= product.images[0] %>">
                    <img
                      class="img-responsive mx-auto d-block swiper-lazy"
                      height="400"
                      width="400"
                      src="<%= product.images[0] %>"
                      alt="" />
                  </a>

                  <a class="swiper-slide" data-hash="1" href="<%= product.images[1] %>">
                    <img
                      class="img-responsive mx-auto d-block swiper-lazy"
                      height="400"
                      width="400"
                      src="<%= product.images[1] %>"
                      alt="" />
                  </a>

                  <a class="swiper-slide" data-hash="2" href="<%= product.images[2] %>">
                    <img
                      class="img-responsive mx-auto d-block swiper-lazy"
                      height="400"
                      width="400"
                      src="<%= product.images[2] %>"
                      alt="" />
                  </a>

                  <a class="swiper-slide" data-hash="3" href="<%= product.images[3] %>">
                    <img
                      class="img-responsive mx-auto d-block swiper-lazy"
                      height="400"
                      width="400"
                      src="<%= product.images[3] %>"
                      alt="" />
                  </a>
                </div>
              </div>
              <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" data-hash="0">
                    <div class="p-100">
                      <img
                        class="swiper-lazy"
                        height="80"
                        width="80"
                        src="<%= product.images[0] %>"
                        alt="" />
                    </div>
                  </div>

                  <div class="swiper-slide" data-hash="1">
                    <div class="p-100">
                      <img
                        class="swiper-lazy"
                        height="80"
                        width="80"
                        src="<%= product.images[1] %>"
                        alt="" />
                    </div>
                  </div>

                  <div class="swiper-slide" data-hash="2">
                    <div class="p-100">
                      <img
                        class="swiper-lazy"
                        height="80"
                        width="80"
                        src="<%= product.images[2] %>"
                        alt="" />
                    </div>
                  </div>

                  <div class="swiper-slide" data-hash="3">
                    <div class="p-100">
                      <img
                        class="swiper-lazy"
                        height="80"
                        width="80"
                        src="<%= product.images[3] %>"
                        alt="" />
                    </div>
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-6">
            <div class="details-pro">
              <h1 class="title-product"><%= product.title %></h1>
              <div class="reviews_details_product">
                <div
                  class="sapo-product-reviews-badge sapo-product-reviews-badge-detail"
                  style="font-size: 16px">
                  <p><strong>Product code:</strong> <%= product.id %></p>
                  <p><strong>Material:</strong> <%= product.material %></p>
                  <p><strong>Size:</strong> <%= product.size %></p>
                  <p><strong>Description:</strong> <%= product.description %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container content-pro">
      <div class="product-tab e-tabs not-dqtab" id="tab-product">
        <ul class="tabs tabs-title clearfix">
          <li class="tab-link active" data-tab="#tab-1">
            <h3>Product Description</h3>
          </li>

          <li class="tab-link" data-tab="#tab-2">
            <h3>Storage instructions</h3>
          </li>
        </ul>
        <div class="tab-float">
          <div id="tab-1" class="tab-content active content_extab">
            <div class="rte product_getcontent">
              <p><%= product.description %></p>
            </div>
          </div>

          <div id="tab-2" class="tab-content content_extab">
            <div class="rte">
              <p><strong>Bước 1:</strong> Truy cập website và lựa chọn sản phẩm cần mua</p>
              <p>
                <strong>Bước 2:</strong> Click và sản phẩm muốn mua, màn hình hiển thị ra pop up với
                các lựa chọn sau
              </p>
              <p>
                Nếu bạn muốn tiếp tục mua hàng: Bấm vào phần tiếp tục mua hàng để lựa chọn thêm sản
                phẩm vào giỏ hàng
              </p>
              <p>Nếu bạn muốn xem giỏ hàng để cập nhật sản phẩm: Bấm vào xem giỏ hàng</p>
              <p>
                Nếu bạn muốn đặt hàng và thanh toán cho sản phẩm này vui lòng bấm vào: Đặt hàng và
                thanh toán
              </p>
              <p><strong>Bước 3:</strong> Lựa chọn thông tin tài khoản thanh toán</p>
              <p>
                Nếu bạn đã có tài khoản vui lòng nhập thông tin tên đăng nhập là email và mật khẩu
                vào mục đã có tài khoản trên hệ thống
              </p>
              <p>
                Nếu bạn chưa có tài khoản và muốn đăng ký tài khoản vui lòng điền các thông tin cá
                nhân để tiếp tục đăng ký tài khoản. Khi có tài khoản bạn sẽ dễ dàng theo dõi được
                đơn hàng của mình
              </p>
              <p>
                Nếu bạn muốn mua hàng mà không cần tài khoản vui lòng nhấp chuột vào mục đặt hàng
                không cần tài khoản
              </p>
              <p>
                <strong>Bước 4:</strong> Điền các thông tin của bạn để nhận đơn hàng, lựa chọn hình
                thức thanh toán và vận chuyển cho đơn hàng của mình
              </p>
              <p>
                <strong>Bước 5:</strong> Xem lại thông tin đặt hàng, điền chú thích và gửi đơn hàng
              </p>
              <p>
                Sau khi nhận được đơn hàng bạn gửi chúng tôi sẽ liên hệ bằng cách gọi điện lại để
                xác nhận lại đơn hàng và địa chỉ của bạn.
              </p>
              <p>Trân trọng cảm ơn.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="productRelate productRelate-lq">
        <div class="title">
          <h3>
            <a href="/" title="Related products">Related products</a>
          </h3>
          <div class="thump-control">
            <div class="button-control">
              <div class="section-prev">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="17"
                  viewBox="0 0 25 17"
                  fill="none">
                  <path
                    d="M23.7836 7.28677L3.87185 7.28677L7.60226 3.10543C8.67378 1.90441 7.0665 0.102942 5.99497 1.30396L2.59757 5.11792L0.329633 7.66398C-0.109914 8.15959 -0.109914 8.96002 0.329632 9.45563L5.99497 15.8132C6.21052 16.0614 6.50721 16.2007 6.81633 16.1978C7.83671 16.1977 8.33747 14.8046 7.60226 14.0115L3.863 9.83019L23.8422 9.83019C25.4137 9.7428 25.2964 7.19909 23.7836 7.28677Z"
                    fill="#AAAAAA" />
                </svg>
              </div>
              <div class="section-next">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26"
                  height="17"
                  viewBox="0 0 26 17"
                  fill="none">
                  <path
                    d="M2.01746 9.81882H21.9292L18.1988 14.0002C17.1272 15.2012 18.7345 17.0026 19.8061 15.8016L23.2035 11.9877L25.4714 9.44161C25.9109 8.946 25.9109 8.14557 25.4714 7.64996L19.8061 1.29244C19.5905 1.04418 19.2938 0.904877 18.9847 0.907759C17.9643 0.907903 17.4636 2.30096 18.1988 3.09405L21.938 7.2754H1.95879C0.3873 7.36279 0.504637 9.9065 2.01746 9.81882Z"
                    fill="black" />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="product-relate-swiper swiper-container">
          <div class="swiper-wrapper">
            <% for (const product of products) {%>
            <div class="swiper-slide">
              <div class="item_product_main">
                <div class="item_product_main">
                  <div class="variants product-action">
                    <div class="product-thumbnail">
                      <a class="image_thumb" href="/product/details/<%= product.id %>">
                        <img
                          width="234"
                          height="234"
                          class="lazyload"
                          src="/assets/lazy.png"
                          data-src="<%= product.images[0] %>" />
                      </a>

                      <div class="action">
                        <a
                          title="Quick view"
                          data-id="<%= product.id %>"
                          class="quick-view btn-views">
                          <svg class="icon">
                            <use
                              xmlns:xlink="http://www.w3.org/1999/xlink"
                              xlink:href="#icon-quickview"></use>
                          </svg>
                        </a>
                      </div>
                    </div>

                    <div class="product-info">
                      <h3 class="product-name">
                        <a
                          class="line-clamp line-clamp-2"
                          href="/product/details/<%= product.id %>">
                          <%= product.title %>
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </section>
  <script>
    function activeTab(obj) {
      $('.product-tab ul li').removeClass('active')
      $(obj).addClass('active')
      var id = $(obj).attr('data-tab')
      $('.tab-content').removeClass('active')
      $(id).addClass('active')
    }

    $('.product-tab ul li').click(function () {
      activeTab(this)
      return false
    })

    setTimeout(function () {
      var ch = $('.product_getcontent').height(),
        smore = $('.show-more')
      if (ch > 700) {
        $('.ba-text-fpt').addClass('has-height')
        smore.removeClass('d-none')
      }
    }, 200)
    $('.btn--view-more').on('click', function (e) {
      e.preventDefault()
      var $this = $(this)
      $this.parents('.product_getcontent').toggleClass('expanded')
      $('html, body').animate({ scrollTop: $('.product_getcontent').offset().top - 110 }, 'slow')
      $(this).toggleClass('active')
    })

    $('.product-tab .tab-link h3').on('click', function (e) {
      $(this).closest('.tab-link').find('.tab-content').slideToggle()
      $(this).closest('.tab-link').toggleClass('active')
    })

    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 5,
      slidesPerView: 20,
      freeMode: true,
      lazy: true,
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
      hashNavigation: true,
      slideToClickedSlide: true,
      breakpoints: {
        300: {
          slidesPerView: 3,
          spaceBetween: 10,
        },
        500: {
          slidesPerView: 3,
          spaceBetween: 10,
        },
        640: {
          slidesPerView: 4,
          spaceBetween: 10,
        },
        768: {
          slidesPerView: 5,
          spaceBetween: 10,
        },
        1024: {
          slidesPerView: 5,
          spaceBetween: 10,
        },
        1199: {
          slidesPerView: 5,
          spaceBetween: 10,
        },
      },
      navigation: {
        nextEl: '.gallery-thumbs .swiper-button-next',
        prevEl: '.gallery-thumbs .swiper-button-prev',
      },
    })
    var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 0,
      lazy: true,
      hashNavigation: true,
      thumbs: {
        swiper: galleryThumbs,
      },
    })
    var swiper = new Swiper('.product-relate-swiper', {
      slidesPerColumnFill: 'row',
      direction: 'horizontal',
      slidesPerView: 4,
      spaceBetween: 20,
      slidesPerGroup: 1,
      slidesPerColumn: 1,
      navigation: {
        nextEl: '.productRelate-lq .section-next',
        prevEl: '.productRelate-lq .section-prev',
      },
      breakpoints: {
        280: {
          slidesPerView: 2,
          spaceBetween: 15,
        },
        640: {
          slidesPerView: 2,
          spaceBetween: 15,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 15,
        },
        992: {
          slidesPerView: 4,
          spaceBetween: 15,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
      },
    })
    $(document).ready(function () {
      $('#lightgallery').lightGallery({
        thumbnail: true,
      })
    })
  </script>
</div>

<link href="/assets/picbox.css" rel="stylesheet" type="text/css" media="all" />

<script src="/assets/picbox.js" type="text/javascript"></script>
