<div class="bodywrap">
  <div class="layout-collection">
    <%- include("../../components/bread-crumb") %>

    <div class="container">
      <div class="block-collection">
        <div class="category-products">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-info dropdown-toggle"
              style="background-color: #75aebd"
              data-mdb-toggle="dropdown"
              aria-expanded="false">
              Product
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin/product">Data Tables</a></li>
              <li><a class="dropdown-item" href="/product/create">Create Product</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <button
              type="button"
              class="btn btn-info dropdown-toggle"
              style="background-color: #b0b486"
              data-mdb-toggle="dropdown"
              aria-expanded="false">
              New
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin/new">Data Tables</a></li>
              <li><a class="dropdown-item" href="/new/create">Create New</a></li>
            </ul>
          </div>

          <div
            style="margin-top: 20px"
            class="products-view products-view-grid list_hover_pro"
            role="alert">
            <h1
              class="title-head-contact a-left d-flex justify-content-center"
              style="font-size: 30px; line-height: 30px; margin-bottom: 20px">
              <strong>Edit Product</strong>
            </h1>
            <div class="layout-contact">
              <div class="container">
                <div class="row">
                  <div class="form-contact">
                    <form
                      method="post"
                      action="/product/edit/<%= locals.data?.id %>"
                      enctype="multipart/form-data"
                      method="POST">
                      <div class="group_contact">
                        <div class="form-outline">
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            required=""
                            name="id"
                            id="id"
                            value="<%= locals.data?.id %>" />
                          <label class="form-label" for="form12">Product code</label>
                        </div>

                        <div class="form-outline">
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            required=""
                            name="title"
                            id="title"
                            value="<%= locals.data?.title %>" />
                          <label class="form-label" for="form12">Title</label>
                        </div>

                        <div class="form-outline">
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            name="category"
                            id="category"
                            value="<%= locals.data?.category %>" />
                          <label class="form-label" for="form12">Category</label>
                        </div>

                        <div class="form-outline">
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            name="subcategory"
                            id="subcategory"
                            value="<%= locals.data?.subcategory %>" />
                          <label class="form-label" for="form12">Subcategory</label>
                        </div>

                        <div class="form-outline">
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            name="material"
                            id="material"
                            value="<%= locals.data?.material %>" />
                          <label class="form-label" for="form12">Material</label>
                        </div>

                        <div class="form-outline">
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            name="size"
                            id="size"
                            value="<%= locals.data?.size %>" />
                          <label class="form-label" for="form12">Size</label>
                        </div>

                        <div class="form-outline">
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            name="price"
                            id="price"
                            value="<%= locals.data?.price %>" />
                          <label class="form-label" for="form12">Price</label>
                        </div>

                        <div class="form-outline">
                          <textarea
                            name="description"
                            id="description"
                            class="form-control content-area form-control-lg"
                            style="height: 250px">
<%= locals.data?.description %></textarea
                          >
                          <label class="form-label" for="form12">Description</label>
                        </div>

                        <input
                          type="text"
                          class="form-control form-control-lg"
                          required=""
                          name="_id"
                          id="_id"
                          value="<%= locals.data?._id %>"
                          hidden />

                        <button type="submit" class="btn-create">Update</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="opacity_sidebar"></div>

  <script>
    var colName = 'All products'

    var colId = 0

    var selectedViewData = 'data'
  </script>
  <script src="/assets/js/col.js" type="text/javascript"></script>
</div>

<link rel="preload" as="script" href="/assets/js/main.js" />
<link href="/assets/css/mdb.min.css" rel="stylesheet" />
<script type="text/javascript" src="/assets/js/mdb.min.js"></script>
<script type="text/javascript" src="/assets/js/product.js"></script>

<script>
  // Edit product
  $('form').submit(function (event) {
    event.preventDefault()
    $('.is-invalid').removeClass('is-invalid')
    let data = new FormData(this)
    let form = $(event.currentTarget)
    $.ajax({
      url: form.attr('action'),
      type: form.attr('method'),
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      success: (result) => {
        Swal.fire({
          title: result.title,
          text: result.message,
          icon: 'success',
          showConfirmButton: false,
          time: 1500,
        })
        window.location = '/admin/product'
      },
      error: (error) => {
        if (error.status === 400) {
          $.each(error.responseJSON.errors, function (key, item) {
            $(`#${item.path}`).addClass('is-invalid')
            showToast(item.msg)
          })
          $(`#${error.responseJSON.errors[0].path}`).focus()
        } else if (error.status === 500) {
          Swal.fire({
            title: error.responseJSON.title,
            text: error.responseJSON.message,
            icon: 'error',
            showConfirmButton: false,
            timer: 1500,
          })
        } else {
          console.log(error)
        }
      },
    })
  })
</script>
