<div class="bodywrap">
  <div class="home-slider swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="clearfix" title="Slider">
          <picture>
            <source media="(min-width: 1200px)" srcset="/img/sliders/slider_1.jpg" />
            <source media="(min-width: 992px)" srcset="/img/sliders/slider_1.jpg" />
            <source media="(min-width: 569px)" srcset="/img/sliders/slider_1.jpg" />
            <source media="(max-width: 567px)" srcset="/img/sliders/slider_1.jpg" />
            <img
              width="2000"
              height="938"
              src="/img/sliders/slider_1.jpg"
              alt="Slider"
              class="img-responsive" />
          </picture>
        </div>
        <div class="slider-text">
          <h2 class="title">ROBIN FURNITA</h2>
          <div class="content">Eco-friendly Products From Vietnam</div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="clearfix" title="Slider">
          <picture>
            <source media="(min-width: 1200px)" srcset="/img/sliders/slider_2.jpg" />
            <source media="(min-width: 992px)" srcset="/img/sliders/slider_2.jpg" />
            <source media="(min-width: 569px)" srcset="/img/sliders/slider_2.jpg" />
            <source media="(max-width: 567px)" srcset="/img/sliders/slider_2.jpg" />
            <img
              width="2000"
              height="938"
              src="/img/sliders/slider_2.jpg"
              alt="Slider"
              class="img-responsive" />
          </picture>
        </div>
        <div class="slider-text">
          <h2 class="title">ROBIN FURNITA</h2>
          <div class="content">Eco-friendly Products From Vietnam</div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var swiper = new Swiper('.home-slider', {
      loop: true,
      autoplay: {
        delay: 4000,
      },
      speed: 2000,
      effect: 'fade',
      fadeEffect: {
        crossFade: true,
      },
      pagination: {
        el: '.home-slider .swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.home-slider .swiper-button-next',
        prevEl: '.home-slider .swiper-button-prev',
      },
    })
  </script>

  <section class="section_danhmuc">
    <div class="container">
      <div class="danhmuc-swiper swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/product?category=kitchen-ware" title="Agricultural"></a>
            <div class="danhmuc-thumb">
              <img
                width="170"
                height="170"
                class="lazyload"
                src="/img/categories/category_1.jpg"
                alt="Agricultural" />
              <span class="image-shadow"></span>
            </div>
            <div class="danhmuc-info">
              <h3>Agricultural</h3>
            </div>
          </div>

          <div class="swiper-slide">
            <a href="/product?category=home-decors" title="Wooden"></a>
            <div class="danhmuc-thumb">
              <img
                width="170"
                height="170"
                class="lazyload"
                src="/img/categories/category_2.jpg"
                alt="Wooden" />
              <span class="image-shadow"></span>
            </div>
            <div class="danhmuc-info">
              <h3>Wooden</h3>
            </div>
          </div>

          <div class="swiper-slide">
            <a href="/product?category=baskets" title="Rattan & Bamboo"></a>
            <div class="danhmuc-thumb">
              <img
                width="170"
                height="170"
                class="lazyload"
                src="/img/categories/category_3.jpg"
                alt="Rattan & Bamboo" />
              <span class="image-shadow"></span>
            </div>
            <div class="danhmuc-info">
              <h3>Rattan & Bamboo</h3>
            </div>
          </div>

          <div class="swiper-slide">
            <a href="/product?category=rubber" title="Rubber"></a>
            <div class="danhmuc-thumb">
              <img
                width="170"
                height="170"
                class="lazyload"
                src="/img/categories/category_4.jpg"
                alt="Rubber" />
              <span class="image-shadow"></span>
            </div>
            <div class="danhmuc-info">
              <h3>Rubber</h3>
            </div>
          </div>

          <div class="swiper-slide">
            <a href="/product?category=chillies" title="Chillies"></a>
            <div class="danhmuc-thumb">
              <img
                width="170"
                height="170"
                class="lazyload"
                src="/img/categories/category_5.jpg"
                alt="Chillies" />
              <span class="image-shadow"></span>
            </div>
            <div class="danhmuc-info">
              <h3>Chillies</h3>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <script>
    var swiperdanhmuc = new Swiper('.danhmuc-swiper', {
      slidesPerView: 3,
      loop: false,
      grabCursor: true,
      roundLengths: true,
      slideToClickedSlide: false,
      slidesPerColumn: 1,
      spaceBetween: 30,
      autoplay: false,
      breakpoints: {
        300: {
          slidesPerView: 2,
        },
        500: {
          slidesPerView: 2,
        },
        640: {
          slidesPerView: 2,
        },
        768: {
          slidesPerView: 4,
        },
        991: {
          slidesPerView: 5,
        },
        1200: {
          slidesPerView: 5,
        },
      },
    })
  </script>

  <section class="section_banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <a href="#" title="Wooden" class="thump-image">
            <img
              width="581"
              height="536"
              class="lazyload"
              src="/img/banners/banner1.png"
              alt="Wooden" />
          </a>
        </div>
        <div class="col-md-6 col-12">
          <a href="#" title="Wooden" class="thump-image">
            <img
              width="581"
              height="536"
              class="lazyload"
              src="/img/banners/banner2.png"
              alt="Wooden" />
          </a>
        </div>
      </div>
    </div>
  </section>

  <section
    class="section_featured_product e-tabs not-dqtab ajax-tab-1"
    data-section="ajax-tab-1"
    data-view="grid_4">
    <div class="container">
      <div class="thumb-title row">
        <h2 class="col-lg-4 title-module">Featured products</h2>
        <ul class="col-lg-8 tabs tabs-title tab-desktop ajax clearfix">
          <li class="tab-link has-content" data-tab="tab-1" data-category="all">
            <span class="line-clamp line-clamp-1" title="All"> All </span>
          </li>

          <li class="tab-link" data-tab="tab-1" data-category="Agricultural">
            <span class="line-clamp line-clamp-1" title="Agricultural"> Agricultural </span>
          </li>

          <li class="tab-link" data-tab="tab-2" data-category="Wooden">
            <span class="line-clamp line-clamp-1" title="Wooden"> Wooden </span>
          </li>

          <li class="tab-link" data-tab="tab-3" data-category="Rattan & Bamboo">
            <span class="line-clamp line-clamp-1" title="Rattan & Bamboo"> Rattan & Bamboo </span>
          </li>

          <li class="tab-link" data-tab="tab-2" data-category="Rubber">
            <span class="line-clamp line-clamp-1" title="Rubber"> Rubber </span>
          </li>

          <li class="tab-link" data-tab="tab-3" data-category="Chillies">
            <span class="line-clamp line-clamp-1" title="Chillies"> Chillies </span>
          </li>
        </ul>
      </div>

      <div class="tab-1 tab-content">
        <div class="row row-fix">
          <% locals.products.forEach(product => { %>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 col-fix">
            <div class="variants product-action">
              <div class="product-thumbnail">
                <a class="image_thumb" href="/product/details/<%= product.id %>">
                  <img
                    width="234"
                    height="234"
                    class="lazyload"
                    src="/img/logo/lazy.png"
                    data-src="<%= product.images[0] %>" />
                </a>

                <div class="action">
                  <a title="Quick view" data-id="<%= product.id %>" class="quick-view btn-views">
                    <svg class="icon">
                      <use
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="#icon-quickview"></use>
                    </svg>
                  </a>
                </div>
              </div>

              <div class="product-info">
                <h3 class="product-name">
                  <a class="line-clamp line-clamp-2" href="/product/details/<%= product.id %>">
                    <%= product.title %>
                  </a>
                </h3>
                <div class="price-box">
                  <%= product.price.includes('-') ? `${product.price.split('-')[0]} -
                  ${product.price.split('-')[1]}` : product.price %>$
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>

        <div class="see-more">
          <a title="See all" href="/product">See all</a>
        </div>
      </div>

      <div class="tab-2 tab-content">
        <div class="see-more">
          <a title="See all" href="">See all</a>
        </div>
      </div>

      <div class="tab-3 tab-content">
        <div class="see-more">
          <a title="See all" href="">See all</a>
        </div>
      </div>

      <div class="tab-5 tab-content"></div>
    </div>
  </section>

  <section class="section_customized_branding">
    <div class="container">
      <div class="title">
        <h3 class="title-module">
          <a href="/product/customized-branding" title="Customized branding">Customized branding</a>
        </h3>
        <div class="thump-flash">
          <div class="button-control">
            <div class="section-quatang-prev">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="17"
                viewBox="0 0 25 17"
                fill="none">
                <path
                  d="M23.7836 7.28677L3.87185 7.28677L7.60226 3.10543C8.67378 1.90441 7.0665 0.102942 5.99497 1.30396L2.59757 5.11792L0.329633 7.66398C-0.109914 8.15959 -0.109914 8.96002 0.329632 9.45563L5.99497 15.8132C6.21052 16.0614 6.50721 16.2007 6.81633 16.1978C7.83671 16.1977 8.33747 14.8046 7.60226 14.0115L3.863 9.83019L23.8422 9.83019C25.4137 9.7428 25.2964 7.19909 23.7836 7.28677Z"
                  fill="#AAAAAA" />
              </svg>
            </div>
            <div class="section-quatang-next">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="26"
                height="17"
                viewBox="0 0 26 17"
                fill="none">
                <path
                  d="M2.01746 9.81882H21.9292L18.1988 14.0002C17.1272 15.2012 18.7345 17.0026 19.8061 15.8016L23.2035 11.9877L25.4714 9.44161C25.9109 8.946 25.9109 8.14557 25.4714 7.64996L19.8061 1.29244C19.5905 1.04418 19.2938 0.904877 18.9847 0.907759C17.9643 0.907903 17.4636 2.30096 18.1988 3.09405L21.938 7.2754H1.95879C0.3873 7.36279 0.504637 9.9065 2.01746 9.81882Z"
                  fill="black" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="product-quatang-swiper swiper-container">
        <div class="swiper-wrapper">
          <% for (const customize of customizes) {%>
          <div class="swiper-slide">
            <div class="variants product-action">
              <div class="product-thumbnail">
                <a class="image_thumb" href="/product/details/<%= customize.id %>">
                  <img
                    width="234"
                    height="234"
                    class="lazyload"
                    src="/img/logo/lazy.png"
                    data-src="<%= customize.images[0] %>" />
                </a>

                <div class="action">
                  <a title="Quick view" data-id="<%= customize.id %>" class="quick-view btn-views">
                    <svg class="icon">
                      <use
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xlink:href="#icon-quickview"></use>
                    </svg>
                  </a>
                </div>
              </div>

              <div class="product-info">
                <h3 class="product-name">
                  <a class="line-clamp line-clamp-2" href="/product/details/<%= customize.id %>">
                    <%= customize.title %>
                  </a>
                </h3>
                <div class="price-box"><%= customize.price %>$</div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="see-more">
          <a title="See all" href="/product">See all</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section_nghenhan">
    <div class="container">
      <h2 class="title-module">ABOUT US</h2>
      <div class="content">We are Robin Furnita</div>
      <div class="row">
        <div class="col-md-6">
          <div class="job">
            One of the leading companies for exporting handicrafts products in Vietnam, Giao Chau
            Rattan & Bamboo Manufacture and export Co.,Ltd has been become a trusted and reliable
            supplier for oversea Importers since found 2006. Our products made by craftmen who are
            highly weaving skills at well-known hundred-years traditional handicraft Village in
            Chuong My District, Ha Noi Capital – Vietnam, made from natural materials such as:
            Bamboo, Rattan, Seagrass, Water-Hyacinth,.etc. Our products are decorating for Homewares
            as Bathroom, Living Room, Kitchen and Picnic, … These products are the best choice for
            bringing you to the nature and eco-friendly enviroment…
            <br />
            <a class="see" href="/new" title="Read more"> Read more </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="thumb">
            <span
              ><img
                width="535"
                height="579"
                class="lazyload"
                src="/img/logo/lazy.png"
                data-src="/img/categories/danhmuc_2.jpg"
                alt="Phát Trần"
            /></span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_blog">
    <div class="container">
      <h2 class="title-module">
        <a href="tin-tuc.html" title="News">News</a>
      </h2>
      <div class="content">Update the latest trending news currently</div>
      <div class="row">
        <div class="col-12 col-sm-4 col-lg-4">
          <div class="item-blog">
            <div class="block-thumb">
              <a
                class="thumb"
                href="/new"
                title="Vietnam-Australia Trade Relationships is Strengthening Oceans Republic Bamboo Products Market">
                <img
                  class="lazyload"
                  src="/img/logo/lazy.png"
                  data-src="/img/articles/blog2c7e6.jpg"
                  alt="Vietnam-Australia Trade Relationships is Strengthening Oceans Republic Bamboo Products Market" />
              </a>

              <div class="info">
                <h3>
                  <a
                    class="line-clamp line-clamp-2"
                    href="/new"
                    title="Vietnam-Australia Trade Relationships is Strengthening Oceans Republic Bamboo Products Market"
                    >Vietnam-Australia Trade Relationships is Strengthening Oceans Republic Bamboo
                    Products Market</a
                  >
                </h3>

                <a class="see" href="/new" title="Read more"> Read more </a>
              </div>

              <div class="time-post">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                  <path
                    d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" />
                </svg>
                June 10, 2023
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-lg-4">
          <div class="item-blog">
            <div class="block-thumb">
              <a class="thumb" href="/new" title="Global Market Growth of  Bamboo Products">
                <img
                  class="lazyload"
                  src="/img/logo/lazy.png"
                  data-src="/img/articles/blog195fa.jpg"
                  alt="Global Market Growth of  Bamboo Products" />
              </a>

              <div class="info">
                <h3>
                  <a
                    class="line-clamp line-clamp-2"
                    href="/new"
                    title="Global Market Growth of  Bamboo Products"
                    >Global Market Growth of Bamboo Products</a
                  >
                </h3>

                <a class="see" href="tinh-hoa-nghe-gom-xua-va-nay.html" title="Read more">
                  Read more
                </a>
              </div>

              <div class="time-post">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                  <path
                    d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" />
                </svg>
                June 10, 2023
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-lg-4">
          <div class="item-blog">
            <div class="block-thumb">
              <a
                class="thumb"
                href="/new"
                title="The Rise of Vietnamese Bamboo Products: A Global Phenomenon">
                <img
                  class="lazyload"
                  src="/img/logo/lazy.png"
                  data-src="/img/articles/blog36298.jpg"
                  alt="The Rise of Vietnamese Bamboo Products: A Global Phenomenon" />
              </a>

              <div class="info">
                <h3>
                  <a
                    class="line-clamp line-clamp-2"
                    href="/new"
                    title="The Rise of Vietnamese Bamboo Products: A Global Phenomenon"
                    >The Rise of Vietnamese Bamboo Products: A Global Phenomenon</a
                  >
                </h3>

                <a
                  class="see"
                  href="bi-quyet-bao-quan-bo-am-chen-uong-tra-trong-nhu-moi-4.html"
                  title="Read more">
                  Read more
                </a>
              </div>

              <div class="time-post">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                  <path
                    d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" />
                </svg>
                June 10, 2023
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="see-more">
        <a href="tin-tuc.html" title="See all">See all</a>
      </div>
    </div>
  </section>

  <section class="section_instagram">
    <div class="instagram-swiper swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="thumb-image">
            <img
              width="211"
              height="211"
              class="lazyload"
              src="/img/logo/lazy.png"
              data-src="/img/categories/danhmuc_1.jpg"
              alt="Banner" />
            <a></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumb-image">
            <img
              width="211"
              height="211"
              class="lazyload"
              src="/img/logo/lazy.png"
              data-src="/img/categories/category_1.jpg"
              alt="Banner" />
            <a></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumb-image">
            <img
              width="211"
              height="211"
              class="lazyload"
              src="/img/logo/lazy.png"
              data-src="/img/categories/danhmuc_2.jpg"
              alt="Banner" />
            <a></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumb-image">
            <img
              width="211"
              height="211"
              class="lazyload"
              src="/img/logo/lazy.png"
              data-src="/img/categories/category_2.jpg"
              alt="Banner" />
            <a></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumb-image">
            <img
              width="211"
              height="211"
              class="lazyload"
              src="/img/logo/lazy.png"
              data-src="/img/categories/category_3.jpg"
              alt="Banner" />
            <a></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumb-image">
            <img
              width="211"
              height="211"
              class="lazyload"
              src="/img/logo/lazy.png"
              data-src="/img/categories/danhmuc_5.jpg"
              alt="Banner" />
            <a></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumb-image">
            <img
              width="211"
              height="211"
              class="lazyload"
              src="/img/logo/lazy.png"
              data-src="/img/categories/category_5.jpg"
              alt="Banner" />
            <a></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="thumb-image">
            <img
              width="211"
              height="211"
              class="lazyload"
              src="/img/logo/lazy.png"
              data-src="/img/categories/danhmuc_5.jpg"
              alt="Banner" />
            <a></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('../components/quick-view-product') %>

<link rel="preload" as="script" href="/assets/js/main.js" />
<link rel="preload" as="script" href="/assets/index.js" />

<script src="/assets/js/main.js" type="text/javascript"></script>
<script src="/assets/index.js" type="text/javascript"></script>
<script src="/assets/js/index.js" type="text/javascript"></script>
