<div class="layout-collection">
  <%- include("../../components/bread-crumb") %>

  <div class="container">
    <div class="block-collection">
      <div class="category-products">
        <div class="row">
          <div class="col-auto">
            <button
              type="button"
              class="btn btn-info dropdown-toggle"
              style="background-color: #75aebd"
              data-mdb-toggle="dropdown"
              aria-expanded="false">
              Product
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin/product">Data Tables</a></li>
              <li><a class="dropdown-item" href="/product/create">Create Product</a></li>
            </ul>
          </div>

          <div class="col-7">
            <button
              type="button"
              class="btn btn-info dropdown-toggle"
              style="background-color: #b0b486"
              data-mdb-toggle="dropdown"
              aria-expanded="false">
              New
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin/new">Data Tables</a></li>
              <li><a class="dropdown-item" href="/new/create">Create New</a></li>
            </ul>
          </div>

          <div class="col-auto d-flex align-items-center">
            <div class="form-outline">
              <input type="text" id="id" name="id" class="form-control" />
              <label class="form-label" for="form12">Article title</label>
            </div>
          </div>

          <div class="col-auto">
            <button id="search" type="button" class="btn btn-secondary btn-rounded">Search</button>
          </div>
        </div>

        <div
          style="margin-top: 20px"
          class="products-view products-view-grid list_hover_pro"
          role="alert">
          <h1
            class="title-head-contact d-flex justify-content-center"
            style="font-size: 30px; line-height: 30px; margin-bottom: 20px">
            <strong>Articles List</strong>
          </h1>
          <div class="layout-contact">
            <div class="container">
              <table class="table table-hover align-middle mb-0 bg-white">
                <thead class="bg-light text-center">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publish date</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <% if(locals.articles?.length) { articles.forEach(article => { %>
                  <tr>
                    <th class="text-nowrap" scope="row"><%= article.id %></th>
                    <td style="text-align: initial"><%= article.title %></td>
                    <td class="text-nowrap"><%= article.author %></td>
                    <td class="text-nowrap"><%= article.publishDate %></td>
                    <td class="text-nowrap">
                      <a href="/new/edit/<%= article.id %>" class="text-light">
                        <button type="button" class="btn btn-info btn-rounded text-light">
                          Edit
                        </button>
                      </a>

                      <button
                        data-url="/new/delete/<%= article.id %>"
                        class="btn btn-danger btn-rounded text-light btn-del">
                        Delete
                      </button>
                    </td>
                  </tr>
                  <% })} %>
                </tbody>
              </table>

              <%- pagination %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="opacity_sidebar"></div>

<script>
  var colName = 'All products'
  var colId = 0
  var selectedViewData = 'data'

  $('#search').on('click', () => {
    const id = $('#id').val()

    // Search
    $.ajax({
      url: `/admin/product/search?id=${id}`,
      type: 'GET',
      dataType: 'json',
      data: { status: true },
      success: (data) => {
        window.location.href = `/admin?id=${id}`
      },
      error: (error) => {
        console.log(error)
      },
    })
  })

  // Delete
  $('.btn-del').on('click', function () {
    const url = $(this).attr('data-url')
    Swal.fire({
      title: 'Delete',
      text: 'Are you sure delete Article?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes',
      cancelButtonText: 'Cancel',
      allowOutsideClick: false,
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: url,
          type: 'DELETE',
          dataType: 'json',
          data: {},
          success: (result) => {
            Swal.fire({
              title: result.title,
              text: result.message,
              icon: 'success',
              showConfirmButton: false,
              timer: 1500,
            })
            location.reload()
          },
          error: (err) => {
            if (err.status === 500) {
              Swal.fire({
                title: err.responseJSON.title,
                text: err.responseJSON.message,
                icon: 'error',
                showConfirmButton: false,
                timer: 1500,
              })
            }
          },
        })
      }
    })
  })
</script>
<script src="/assets/col.js" type="text/javascript"></script>
<link rel="preload" as="script" href="/assets/main.js" />
<link href="/assets/css/mdb.min.css" rel="stylesheet" />
<script type="text/javascript" src="/assets/js/mdb.min.js"></script>
