<div class="opacity_menu"></div>
<header class="header header-index" style="position: relative">
  <div class="container" style="position: relative">
    <div class="row align-items-center">
      <div class="col-lg-2 col-12">
        <a href="/" class="logo">
          <img width="220" height="27" src="/img/logo/logo.png" alt="Robin Furnita" />
        </a>
      </div>
      <div class="col-lg-8 col-2 header-menu header-menu-left">
        <div class="header-menu-des">
          <div class="header-menu-des">
            <nav class="header-nav">
              <div class="item_small d-lg-none">
                <a href="/" class="logo" style="margin: 10px 0 10px 0">
                  <img src="/img/logo/logo.png" alt="Robin Furnita" />
                </a>
              </div>
              <ul class="item_big">
                <li class="nav-item <%= view_content.includes('index') ? 'active' : '' %>">
                  <a class="a-img a-index" href="/" title="Home"> Home </a>
                </li>

                <li class="nav-item <%= view_content.includes('about') ? 'active' : '' %>">
                  <a class="a-img a-index" href="/about" title="About"> About </a>
                </li>

                <li
                  class="nav-item has-mega <%= view_content.includes('product') ? 'active' : '' %>">
                  <a class="a-img caret-down a-index" href="/product" title="Products">
                    Products
                  </a>
                  <i class="fa fa-caret-down"></i>

                  <div class="mega-content d-lg-block d-none">
                    <div class="row">
                      <div class="col-lg-8 col-12">
                        <ul class="level0">
                          <% locals?.categoriesData.forEach((categoryItem) => { %>
                          <li
                            class="level1 parent item fix-navs"
                            data-title="<%= categoryItem.name %>"
                            data-link="<%= categoryItem.url %>">
                            <a
                              class="hmega"
                              href="<%= categoryItem.url %>"
                              title="<%= categoryItem.name %>">
                              <%= categoryItem.name %>
                            </a>
                            <% if (categoryItem.subcategories) { %>
                            <ul class="level1">
                              <% categoryItem.subcategories.forEach((subcategory) => { %>
                              <li class="level2">
                                <a href="<%= subcategory.url %>" title="<%= subcategory.name %>">
                                  <%= subcategory.name %>
                                </a>
                              </li>
                              <% }) %>
                            </ul>
                            <% } %>
                          </li>
                          <% }) %>
                        </ul>
                      </div>
                      <div class="col-lg-4 col-12">
                        <a href="/" title="Banner">
                          <img
                            width="414"
                            height="414"
                            class="lazyload"
                            style="border-radius: 5px"
                            src="/img/logo/lazy.png"
                            data-src="/img/categories/danhmuc_2.jpg"
                            alt="Banner" />
                        </a>
                      </div>
                    </div>
                  </div>
                  <ul class="item_small d-lg-none d-block">
                    <% locals?.categoriesData.forEach((categoryItem) => { %>
                    <li>
                      <a
                        class="caret-down"
                        href="<%= categoryItem.url %>"
                        title="<%= categoryItem.name %>">
                        <%= categoryItem.name %>
                      </a>
                      <% if (categoryItem.subcategories) { %>
                      <i class="fa fa-caret-down"></i>
                      <ul>
                        <% categoryItem.subcategories.forEach((subcategory) => { %>
                        <li>
                          <a
                            href="<%= subcategory.url %>"
                            title="<%= subcategory.name %>"
                            class="a3">
                            <%= subcategory.name %>
                          </a>
                        </li>
                        <% }) %>
                      </ul>
                      <% } %>
                    </li>
                    <% }) %>
                  </ul>
                </li>

                <li class="nav-item <%= view_content.includes('news') ? 'active' : '' %>">
                  <a class="a-img a-index" href="/new" title="News"> News </a>
                </li>

                <li class="nav-item <%= view_content.includes('contact') ? 'active' : '' %>">
                  <a class="a-img a-index" href="/contact" title="Contact"> Contact </a>
                </li>

                <li class="nav-item <%= view_content.includes('catalogue') ? 'active' : '' %>">
                  <a class="a-img a-index" href="/catalogue" title="Catalogue"> Catalogue </a>
                </li>
              </ul>
            </nav>

            <div class="control-menu d-none">
              <a href="#" id="prev"
                ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <path
                    fill="#000"
                    d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" /></svg
              ></a>
              <a href="#" id="next"
                ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <path
                    fill="#000"
                    d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" /></svg
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-12 header-menu header-menu-right">
        <div class="menu-bar d-lg-none d-block">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="far"
            data-icon="bars"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="svg-inline--fa fa-bars fa-w-14">
            <path
              fill="#ffffff"
              d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"
              class=""></path>
          </svg>
        </div>
        <div class="header-control header-control-index">
          <ul class="ul-control">
            <li class="header-search">
              <a href="javascript:void(0)" class="button-search">
                <svg viewBox="0 0 612.01 612.01">
                  <path
                    d="M606.209,578.714L448.198,423.228C489.576,378.272,515,318.817,515,253.393C514.98,113.439,399.704,0,257.493,0     C115.282,0,0.006,113.439,0.006,253.393s115.276,253.393,257.487,253.393c61.445,0,117.801-21.253,162.068-56.586     l158.624,156.099c7.729,7.614,20.277,7.614,28.006,0C613.938,598.686,613.938,586.328,606.209,578.714z M257.493,467.8     c-120.326,0-217.869-95.993-217.869-214.407S137.167,38.986,257.493,38.986c120.327,0,217.869,95.993,217.869,214.407     S377.82,467.8,257.493,467.8z" />
                </svg>
              </a>
            </li>

            <li class="header-cart block-cart">
              <a href="get-quotation" class="icon">
                <svg viewBox="0 -28 512.001 512">
                  <path
                    d="m256 455.515625c-7.289062 0-14.316406-2.640625-19.792969-7.4375-20.683593-18.085937-40.625-35.082031-58.21875-50.074219l-.089843-.078125c-51.582032-43.957031-96.125-81.917969-127.117188-119.3125-34.644531-41.804687-50.78125-81.441406-50.78125-124.742187 0-42.070313 14.425781-80.882813 40.617188-109.292969 26.503906-28.746094 62.871093-44.578125 102.414062-44.578125 29.554688 0 56.621094 9.34375 80.445312 27.769531 12.023438 9.300781 22.921876 20.683594 32.523438 33.960938 9.605469-13.277344 20.5-24.660157 32.527344-33.960938 23.824218-18.425781 50.890625-27.769531 80.445312-27.769531 39.539063 0 75.910156 15.832031 102.414063 44.578125 26.191406 28.410156 40.613281 67.222656 40.613281 109.292969 0 43.300781-16.132812 82.9375-50.777344 124.738281-30.992187 37.398437-75.53125 75.355469-127.105468 119.308594-17.625 15.015625-37.597657 32.039062-58.328126 50.167969-5.472656 4.789062-12.503906 7.429687-19.789062 7.429687zm-112.96875-425.523437c-31.066406 0-59.605469 12.398437-80.367188 34.914062-21.070312 22.855469-32.675781 54.449219-32.675781 88.964844 0 36.417968 13.535157 68.988281 43.882813 105.605468 29.332031 35.394532 72.960937 72.574219 123.476562 115.625l.09375.078126c17.660156 15.050781 37.679688 32.113281 58.515625 50.332031 20.960938-18.253907 41.011719-35.34375 58.707031-50.417969 50.511719-43.050781 94.136719-80.222656 123.46875-115.617188 30.34375-36.617187 43.878907-69.1875 43.878907-105.605468 0-34.515625-11.605469-66.109375-32.675781-88.964844-20.757813-22.515625-49.300782-34.914062-80.363282-34.914062-22.757812 0-43.652344 7.234374-62.101562 21.5-16.441406 12.71875-27.894532 28.796874-34.609375 40.046874-3.453125 5.785157-9.53125 9.238282-16.261719 9.238282s-12.808594-3.453125-16.261719-9.238282c-6.710937-11.25-18.164062-27.328124-34.609375-40.046874-18.449218-14.265626-39.34375-21.5-62.097656-21.5zm0 0"></path>
                </svg>
                <span class="count count_item_pr"></span>
              </a>
              <div class="top-cart-content">
                <div class="CartHeaderContainer">
                  <form
                    action="/get-quotation"
                    method="post"
                    novalidate=""
                    class="cart ajaxcart cartheader"
                    style="display: none">
                    <div class="ajaxcart__inner ajaxcart__inner--has-fixed-footer cart_body items">
                      <div class="ajaxcart__row"></div>
                    </div>
                    <div class="ajaxcart__footer ajaxcart__footer--fixed cart-footer">
                      <div class="cart__btn-proceed-checkout-dt">
                        <button
                          onclick="location.href='/get-quotation'"
                          type="button"
                          class="button btn btn-default cart__btn-proceed-checkout"
                          id="btn-proceed-checkout"
                          title="Pay">
                          Get Quotation
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="CartHeaderContainer">
                  <div class="cart--empty-message" style="display: none">
                    <svg viewBox="0 -28 512.001 512">
                      <path
                        d="m256 455.515625c-7.289062 0-14.316406-2.640625-19.792969-7.4375-20.683593-18.085937-40.625-35.082031-58.21875-50.074219l-.089843-.078125c-51.582032-43.957031-96.125-81.917969-127.117188-119.3125-34.644531-41.804687-50.78125-81.441406-50.78125-124.742187 0-42.070313 14.425781-80.882813 40.617188-109.292969 26.503906-28.746094 62.871093-44.578125 102.414062-44.578125 29.554688 0 56.621094 9.34375 80.445312 27.769531 12.023438 9.300781 22.921876 20.683594 32.523438 33.960938 9.605469-13.277344 20.5-24.660157 32.527344-33.960938 23.824218-18.425781 50.890625-27.769531 80.445312-27.769531 39.539063 0 75.910156 15.832031 102.414063 44.578125 26.191406 28.410156 40.613281 67.222656 40.613281 109.292969 0 43.300781-16.132812 82.9375-50.777344 124.738281-30.992187 37.398437-75.53125 75.355469-127.105468 119.308594-17.625 15.015625-37.597657 32.039062-58.328126 50.167969-5.472656 4.789062-12.503906 7.429687-19.789062 7.429687zm-112.96875-425.523437c-31.066406 0-59.605469 12.398437-80.367188 34.914062-21.070312 22.855469-32.675781 54.449219-32.675781 88.964844 0 36.417968 13.535157 68.988281 43.882813 105.605468 29.332031 35.394532 72.960937 72.574219 123.476562 115.625l.09375.078126c17.660156 15.050781 37.679688 32.113281 58.515625 50.332031 20.960938-18.253907 41.011719-35.34375 58.707031-50.417969 50.511719-43.050781 94.136719-80.222656 123.46875-115.617188 30.34375-36.617187 43.878907-69.1875 43.878907-105.605468 0-34.515625-11.605469-66.109375-32.675781-88.964844-20.757813-22.515625-49.300782-34.914062-80.363282-34.914062-22.757812 0-43.652344 7.234374-62.101562 21.5-16.441406 12.71875-27.894532 28.796874-34.609375 40.046874-3.453125 5.785157-9.53125 9.238282-16.261719 9.238282s-12.808594-3.453125-16.261719-9.238282c-6.710937-11.25-18.164062-27.328124-34.609375-40.046874-18.449218-14.265626-39.34375-21.5-62.097656-21.5zm0 0"></path>
                    </svg>
                    <p>
                      There are no products in the list for which you would like to receive a
                      product quote
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="popup-search">
  <div class="search-header">
    <div class="search-smart">
      <form action="" method="get" class="header-search-form input-group search-bar" role="search">
        <input
          type="text"
          name="query"
          required
          class="input-group-field auto-search search-auto form-control"
          placeholder="Enter product code..."
          autocomplete="off" />

        <input type="hidden" name="type" value="product" />

        <button type="submit" class="btn icon-fallback-text" aria-label="Tìm kiếm" title="Tìm kiếm">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
          </svg>
        </button>

        <div class="search-suggest">
          <div class="list-search list-search-style"></div>
          <div class="list-search2 list-search-style"></div>
        </div>
      </form>
    </div>
  </div>
  <a href="javascript:void(0)" class="close-popup-search">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      x="0px"
      y="0px"
      viewBox="0 0 512.001 512.001"
      style="enable-background: new 0 0 512.001 512.001"
      xml:space="preserve">
      <g>
        <g>
          <path
            d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717    L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859    c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287    l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285    L284.286,256.002z"></path>
        </g>
      </g>
    </svg>
  </a>
  <div class="product-search">
    <div class="title-search">
      <span>Most searched products</span>
    </div>

    <div class="item">
      <div class="image">
        <a class="image_thumb" href="/product?category=baskets" title="Baskets">
          <img
            width="100"
            height="100"
            class="lazyload"
            src="/img/logo/lazy.png"
            data-src="/img/categories/danhmuc_2.jpg"
            alt="Baskets" />
        </a>
      </div>
      <div class="content">
        <h3 class="product-name">
          <a class="line-clamp line-clamp-2" href="/product?category=baskets" title="Baskets"
            >Baskets</a
          >
        </h3>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <a class="image_thumb" href="/product" title="Home decors">
          <img
            width="100"
            height="100"
            class="lazyload"
            src="/img/logo/lazy.png"
            data-src="/img/categories/danhmuc_1.jpg"
            alt="Home decors" />
        </a>
      </div>
      <div class="content">
        <h3 class="product-name">
          <a class="line-clamp line-clamp-2" href="/product" title="Home decors">Home decors</a>
        </h3>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <a class="image_thumb" href="/product" title="Kitchen ware">
          <img
            width="100"
            height="100"
            class="lazyload"
            src="/img/logo/lazy.png"
            data-src="/img/categories/danhmuc_3.jpg"
            alt="Kitchen ware" />
        </a>
      </div>
      <div class="content">
        <h3 class="product-name">
          <a
            class="line-clamp line-clamp-2"
            href="/product?category=kitchen-ware"
            title="Kitchen ware">
            Kitchen ware
          </a>
        </h3>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <a class="image_thumb" href="/product" title="Lights">
          <img
            width="100"
            height="100"
            class="lazyload"
            src="/img/logo/lazy.png"
            data-src="/img/categories/danhmuc_4.jpg"
            alt="Lights" />
        </a>
      </div>
      <div class="content">
        <h3 class="product-name">
          <a class="line-clamp line-clamp-2" href="/product?category=lights" title="Home decors"
            >Lights</a
          >
        </h3>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <a class="image_thumb" href="/product" title="Handbags">
          <img
            width="100"
            height="100"
            class="lazyload"
            src="/img/logo/lazy.png"
            data-src="/img/categories/danhmuc_5.jpg"
            alt="Handbags" />
        </a>
      </div>
      <div class="content">
        <h3 class="product-name">
          <a class="line-clamp line-clamp-2" href="/product?category=handbags" title="Handbags"
            >Handbags</a
          >
        </h3>
      </div>
    </div>
  </div>
</div>
<script>
  // Add a click event listener to hide various elements when clicked
  $(document).on(
    'click',
    '.backdrop__body-backdrop___1rvky, .cart_btn-close, .close-popup, .close-popup-search',
    function () {
      // Remove the 'active' class from multiple elements
      $(
        '.backdrop__body-backdrop___1rvky, .cart-sidebar, #popup-cart-desktop, .popup-cart-mobile, .popup-coupon, .popup-search'
      ).removeClass('active')

      // Remove 'search-active' class from the body element
      $('body').removeClass('search-active')

      // Empty the content of various elements
      $('.product-title, .product-new-price b, .noti-cart-count .count_item_pr').empty()

      // Remove the 'src' attribute from an image element
      $('.thumb-1x1 img').removeAttr('src')

      // Return false to prevent further propagation of the click event
      return false
    }
  )
</script>
